:root {
    --color-brand:#95E1D3;
    --color-second-accent:#F38181;
    --color-text-title:#333;
    --color-text:#B6B6B6;
    --color-text-btn:#FFF;
    --main-font:"Montserrat", san-serif;
    --second-font:"Roboto", san-serif;
    --subtitle-font:"Kaushan Script", san-serif;
}

